* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

body {
  background-color: #EDEFEE;
}

/* NAVIGATION */
.navigation {
  display: flex;
  flex-wrap: wrap;
  height: 80px;
  position: fixed;
  background-color: #EDEFEE;
  width: 100%;
  z-index: 1000;
  
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.logo {
  width: 150px;
  height: auto
}

.nav-link-container {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav-link {
  margin-right: 40px;
}

.nav-link a {
  display: block;
  text-decoration: none;
  color: #495E57;
  font-weight: bold;
  border-radius: 10px;
  padding: 5px 10px; 
}

.nav-link a:hover {
  text-decoration: underline #F4CE14;
}


/* HERO SECTION */
.hero-section {
  background-color: #495E57;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 300px;
}

.hero-text {
  width: 250px;
  margin-top: 70px;
}

.title {
  color: #F4CE14;
  font-size: 35px;
  margin-bottom: 5px;
}

.location {
  color: white;
  font-size: 25px;
  margin-bottom: 10px;
}

.hero-description {
  color: white;
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 25px;
}

.btn {
  background-color: #F4CE14;
  color: black;
  border-radius: 5px;
  border: 0px;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 16px;
}

.btn:hover {
  background-color: #9a820d;
  color: white;
}


.hero-img-container {
  width: 370px;
  height: 390px;
  align-self: flex-start;
  margin-top: 80px;
}


.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 80px;
}


/* SPECIALS */
.specials {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.specials-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin: 70px 0px;
  gap: 60px;
}

.specials-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 100px 30px 100px;
}

.specials-title {
  font-size: 35px;
}

.food-card-container {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  background-color: #EDEFEE;
  box-shadow: 5px 5px 5px #bbbbbb;
  width: 400px;
  margin-bottom: 50px;
  border: solid 1px rgb(218, 218, 218);
  transition: transform 0.3s ease;
}

.food-card-container:hover {
  transform: scale(1.05);
}

.food-img-container {
  width: 100%;
  height: 300px;
}

.food-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.food-info-container {
  flex: 1;
  margin: 30px;
}

.name-price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.food-price {
  color: #333333;
}


.food-description {
  margin-bottom: 50px;
  line-height: 20px;
}

.delivery-icon {
  width: 30px;
  height: auto;
  padding-left: 10px;
}

.delivery-btn {
  display: flex;
  align-items: center;
  align-self: flex-start;
  justify-content: center;
  font-size: 15px;
  padding: 5px;
  margin: auto 0px 20px 30px;
  border: 0px;
  border-radius: 5px;
  font-weight: bold;
}

.delivery-btn:hover {
  text-decoration: underline #F4CE14;
}


/* CUSTOMER RATINGS */
.reviews {
  display: flex;
  flex-direction: column;
  background: #fffae2;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.review-heading {
  margin-bottom: 50px;
}

.reviews-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: 70px;
  margin-bottom: 50px;
}

.rating-card {
  display: flex;
  flex-direction: column;
  width: 250px;
  border: solid 1px rgb(218, 218, 218);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 5px 5px 5px #bbbbbb;
  background-color: #e7f7ff;
  transition: transform 0.3s ease;
}

.rating-card:hover {
  transform: scale(1.05);
}

.customer-name, .customer-stars {
  margin-bottom: 5px;
}

.customer-comment {
  line-height: 20px;
}

/* INTRODUCTION */
.introduction-container {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  gap: 300px;
}

.intro-text {
  width: 500px;
  background-color: #495E57;
  border-radius: 20px;
  padding: 50px;
}

.intro-description {
  color: white;
  line-height: 23px;
}

.intro-images {
  display: flex;
}

.img-container {
  width: 300px;
  height: 400px;
}

.employee-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  transition: transform 0.3s ease;
}

.img-one {
  object-position: 50% center;
}

.img-two {
  object-position: 60% center;
}

.employee-img-one {
  z-index: 2;
  transform: rotate(5deg);
}

.employee-img-two {
  margin-left: -80px;
  margin-top: 70px;
  z-index: 1;
  transform: rotate(-5deg);
}

.employee-img-two:hover {
  z-index: 3;
}

.employee-img:hover {
  transform: scale(1.05);
}




































/* FOOTER */

.footer {
  background-color: #495E57;
  color: white;
  padding: 70px;
}

.footer-navigation {
  display: flex;
}

.footer-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logo {
  width: 100px;
  height: auto;
}

.footer-section-container {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: center;
  gap: 100px;
  text-align: center;
  line-height: 30px;
}

.footer-section {
  display: flex;
  flex-direction: column;
}

.footer-links a {
  display: block;
  text-decoration: none;
  color: white;
}

.footer-links a:hover {
  text-decoration: underline;
}

